@import url('https://fonts.googleapis.com/css?family=DM+Serif+Text&display=swap');
body{
    font-family: 'DM Serif Text', serif;
    background-image: url("spacebg.png");   
    color:antiquewhite; 
}

h1,h4{
    color:red
}
h2,h3{color:greenyellow
}




/* adding background picture */