@import url('https://fonts.googleapis.com/css?family=DM+Serif+Text&display=swap');
body{

    font-family: 'DM Serif Text', serif;
    background-image: url("spacebg.png");   
    background-blend-mode: hard-light;
    color:antiquewhite; 
}

h1,h4{
    color: yellow
}
h2{color:green}

h3{color:red
}
.links{border-inline-start-color: cyan}
                                
                

ul{ display:table-row;
}
/* adding background picture */