@import url('https://fonts.googleapis.com/css?family=DM+Serif+Text&display=swap');
body{

    font-family: 'DM Serif Text', serif;
    background-image: url("spacebg.png");   
    background-blend-mode: hard-light;
    color:blanchedalmond; 
}

h1{
    color: green;
    text-align:center;
}
h2{color:yellow}

h3{color:red
}
h4{color:orange
}
.links{color:cyan}
.transform{height: 300px; width:400px; 
}
                

ul{ display:table-row;
}
.centre{text-align: center

}

